body {
  font: 14px Verdana, sans-serif;
  background: #0E4C61;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.presentation {
  position: absolute;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  background: inherit;
}

div.presentation > h1 {
  display: none;
}

div.slides, body.expose div.slides.nocontext {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
}

div.slides.nocontext {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
}

div.slide {
  display: inline;
  position: absolute;
  overflow: hidden;
  width: 900px;
  height: 700px;
  margin-top: -350px;
  margin-left: -400px;
  left: 50%;
  top: 50%;
  border-radius: 20px;
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin 0.25s ease-in-out;
  background: #000000 url('../logo.png') no-repeat top right;
}

/* Expose */

body.expose div.slides {
  float: left;
  position: relative;
  overflow: auto;
  margin-bottom: 10px;
}

body.expose div.slide {
  display: block;
  float: left;
  position: relative;
  left: auto !important;
  top: auto !important;
  margin: 10px !important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -moz-transform: scale(.33, .33);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.33, .33);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.33, .33);
  -o-transform-origin: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  cursor: pointer;
}

body.expose div.slide:hover {
  background-color: #494949;
}

body.expose .slide-wrapper {
  float: left;
  position: relative;
  margin: .5%;
  width: 300px;
  height: 233px;
}

body.expose .slide footer {
}

body.expose .slide .inner {
}

body.expose .slide.far-past,
body.expose .slide.past,
body.expose .slide.future,
body.expose .slide.far-future {
  margin-left: 0;
  opacity: 1;
}

body.expose .slide.current {
  background-color: #494949;
  border: 16px solid #fff;
  -moz-transform: scale(.315, .315);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.315, .315);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.315, .315);
  -o-transform-origin: 0 0;
}

/* Presenter Mode */

body.presenter_view div.slide {
  display: inline;
  position: absolute;
  overflow: hidden;
  -moz-transform: scale(.5, .5);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.5, .5);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.5, .5);
  -o-transform-origin: 0 0;
    margin-top: -300px;
}

body.presenter_view .slide.far-past {
  display: block;
  margin-left: -1500px;
}

body.presenter_view .slide.past {
  display: block;
  margin-left: -975px;
}

body.presenter_view .slide.current {
  display: block;
  margin-left: -475px;
  border: 8px solid maroon;
  z-index: 2;
}

body.presenter_view .slide.future {
  display: block;
  margin-left: 25px;
  z-index: 1;
}

body.presenter_view .slide.far-future {
  display: block;
  margin-left: 525px;
}

body.presenter_view div#current_presenter_notes {
    visibility: visible;
    display: block;
    position: absolute;
    overflow: auto;
    vertical-align: middle;
    left: 50%;
    top: 50%;
    margin-left: -475px;
    margin-top: 100px;
    z-index: 2;
    width: 950px;
    border-style: solid;
    height: 30%;
    background-color: silver;
}

body.presenter_view div#current_presenter_notes section {
  font-family: Verdana, sans-serif;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  display: block;
  overflow: visible;
    position: relative;
    background-color: #fffeff;
    height: 120px;
    margin-right: 30px;
    margin-top: 60px;
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

body.presenter_view div#current_presenter_notes section p {
    margin: 0;
}

body.presenter_view div#current_presenter_notes h1 {
    font-size: 50%;
    display: block;
}

div#current_presenter_notes {
  display: none;
}

div.slide div.presenter_notes, div.slides div.presenter_notes {
  display: none;
}

/* Slide styles */

div.slide p {
  font-size: 20px;
}

.slide.far-past {
  display: block;
  margin-left: -2400px;
}

.slide.past {
  display: block;
  margin-left: -1400px;
  opacity: 0.3;
}

.slide.current {
  display: block;
  margin-left: -450px;
}

.slide.future {
  display: block;
  margin-left: 500px;
  opacity: 0.3;
}

.slide.far-future {
  display: block;
  margin-left: 1500px;
}

body.three-d div.slides {
  -webkit-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -moz-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -o-transform: translateX(50px) scale(0.8) rotateY(10deg);
}


/* Content */

header:not(:only-child) {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -.05em;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  position: absolute;
  left: 30px;
  top: 25px;
  margin: 0;
  padding: 0;;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
  display: inline;
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

header h2:first-child {
  margin-top: 0;
}

section, .slide header:only-child h1 {
  font-family: Verdana, sans-serif;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
  display: block;
  overflow: hidden;
}

img { display: block; margin: auto; }

section img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section img.align-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

section img.align-left {
  display: block;
  margin-right: auto;
  margin-left: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
  border-bottom: 2px solid #3f3f3f;
}

pre {
  font-size: 16px;
  font-family: Monaco, Courier, monospace;
}

li {
  padding: 10px 0;
  font-size: 20px;
}

.slide header:only-child h1 {
  line-height: 180%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 700px;
  width: 900px;
  font-size: 50px;
  margin-top:100px;
  margin-bottom:100px;
}

.sidebar {
  clear: both;
  background: -webkit-gradient(linear, top right, bottom right, from(#dde), to(#fff));
  -webkit-transition: margin 0.25s ease-in-out;
  background-color: #eee;
  background: -moz-linear-gradient(right, #dde, #fff);
  border-right: 5px solid #ccd;
  z-index: 9999999;
  height: 100%;
  overflow: hidden;
  top: 0;
  position: absolute;
  display: block;
  margin: 0;
  margin-left: -400px;
  padding: 10px 16px;
  overflow: auto;
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
}

.sidebar h2 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 0 0 16px;
  padding: 0;
}

.sidebar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.sidebar table caption {
  display: none;
}

.sidebar tr {
  margin: 2px 0;
  border-bottom: 1px solid #ccc;
}

.sidebar th {
  text-align: left;
  font-weight: normal;
  max-width: 300px;
  overflow: hidden;
}

.sidebar tr.sub th {
  text-indent: 20px;
}

.sidebar td {
  text-align: right;
  min-width: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 4px 0;
}

.sidebar tr.active {
  background: #ff0;
}

aside {
  display: none;
}
  aside.source {
    position: absolute;
    bottom: 6px;
    left: 10px;
    text-indent: 10px;
  }
  aside.page_number {
    position: absolute;
    bottom: 6px;
    right: 10px;
    text-indent: 10px;
  }

.notes {
  display: none;
  padding: 10px;
  background: #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
  div.slide p.notes {
    font-size: 90%;
}

/* Pygments monokai theme */
pre .hll { background-color: #49483e }
pre  { background: #272822; color: #f8f8f2 }
pre .c { color: #75715e } /* Comment */
pre .err { color: #960050; background-color: #1e0010 } /* Error */
pre .k { color: #66d9ef } /* Keyword */
pre .l { color: #ae81ff } /* Literal */
pre .n { color: #f8f8f2 } /* Name */
pre .o { color: #E27F8A } /* Operator */
pre .p { color: #f8f8f2 } /* Punctuation */
pre .cm { color: #75715e } /* Comment.Multiline */
pre .cp { color: #75715e } /* Comment.Preproc */
pre .c1 { color: #75715e } /* Comment.Single */
pre .cs { color: #75715e } /* Comment.Special */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .kc { color: #66d9ef } /* Keyword.Constant */
pre .kd { color: #66d9ef } /* Keyword.Declaration */
pre .kn { color: #E27F8A } /* Keyword.Namespace */
pre .kp { color: #66d9ef } /* Keyword.Pseudo */
pre .kr { color: #66d9ef } /* Keyword.Reserved */
pre .kt { color: #66d9ef } /* Keyword.Type */
pre .ld { color: #e6db74 } /* Literal.Date */
pre .m { color: #ae81ff } /* Literal.Number */
pre .s { color: #e6db74 } /* Literal.String */
pre .na { color: #a6e22e } /* Name.Attribute */
pre .nb { color: #f8f8f2 } /* Name.Builtin */
pre .nc { color: #a6e22e } /* Name.Class */
pre .no { color: #66d9ef } /* Name.Constant */
pre .nd { color: #a6e22e } /* Name.Decorator */
pre .ni { color: #f8f8f2 } /* Name.Entity */
pre .ne { color: #a6e22e } /* Name.Exception */
pre .nf { color: #a6e22e } /* Name.Function */
pre .nl { color: #f8f8f2 } /* Name.Label */
pre .nn { color: #f8f8f2 } /* Name.Namespace */
pre .nx { color: #a6e22e } /* Name.Other */
pre .py { color: #f8f8f2 } /* Name.Property */
pre .nt { color: #E27F8A } /* Name.Tag */
pre .nv { color: #f8f8f2 } /* Name.Variable */
pre .ow { color: #E27F8A } /* Operator.Word */
pre .w { color: #f8f8f2 } /* Text.Whitespace */
pre .mf { color: #ae81ff } /* Literal.Number.Float */
pre .mh { color: #ae81ff } /* Literal.Number.Hex */
pre .mi { color: #ae81ff } /* Literal.Number.Integer */
pre .mo { color: #ae81ff } /* Literal.Number.Oct */
pre .sb { color: #e6db74 } /* Literal.String.Backtick */
pre .sc { color: #e6db74 } /* Literal.String.Char */
pre .sd { color: #e6db74 } /* Literal.String.Doc */
pre .s2 { color: #e6db74 } /* Literal.String.Double */
pre .se { color: #ae81ff } /* Literal.String.Escape */
pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
pre .si { color: #e6db74 } /* Literal.String.Interpol */
pre .sx { color: #e6db74 } /* Literal.String.Other */
pre .sr { color: #e6db74 } /* Literal.String.Regex */
pre .s1 { color: #e6db74 } /* Literal.String.Single */
pre .ss { color: #e6db74 } /* Literal.String.Symbol */
pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */

pre .lineno {
    background-color: #444444;
    padding: 0 2px;
    display: inline-block;
}

#blank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 64;
  display: none;
}

/* title slide */
.slide-wrapper:first-child .slide {
    text-align: center;
    background: #000000 url('../title-slide.png') no-repeat top center;
}
.slide-wrapper:first-child header:not(:only-child) {
    position: static;
    padding-top: 150px;
    color: #000000;
    width: 630px;
    margin: 0 auto;
}
.slide-wrapper:first-child section {
    margin-top: 10px;
    color: #000000;
}

.slide-wrapper:first-child .slide header:only-child h1 {
    display: block;
    width: auto;
    color: #000000;
    padding-top: 50px;
}
